
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f0f0f0 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.ant-select-auto-complete .ant-select-clear {
  right: 24px;
}

.site-layout-content {
  background: #f0f0f0 !important;
}

.site-layout {
  background: #f0f0f0 !important;
  font-family: SegoeUI-SemiBold-final,Segoe UI Semibold,SegoeUI-Regular-final,Segoe UI,"Segoe UI Web (West European)",Segoe,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Tahoma,Helvetica,Arial,sans-serif;
}

.rowClassName-deleted > td {
  background: rgba(251, 0, 1, .05) !important;
}

.rowClassName-deleted:hover > td {
  background: rgba(251, 0, 1, .05) !important;
}

.site-input-group-wrapper .site-input-split {
  background-color: #f0f0f0;
}

.site-input-group-wrapper .site-input-right {
  border-left-width: 0;
}

.site-input-group-wrapper .site-input-right:hover,
.site-input-group-wrapper .site-input-right:focus {
  border-left-width: 1px;
}

.site-input-group-wrapper .ant-input-rtl.site-input-right {
  border-right-width: 0;
}

.site-input-group-wrapper .ant-input-rtl.site-input-right:hover,
.site-input-group-wrapper .ant-input-rtl.site-input-right:focus {
  border-right-width: 1px;
}

.ant-layout {
  background: #f0f0f0 !important;
}

.ant-layout-header {
  background: #f0f0f0 !important;
}

.ant-layout-header .ant-menu-horizontal {
  background: #f0f0f0 !important;
}

.ant-layout-sider,
.ant-layout-sider-children {
  background: #f0f0f0 !important;
}

.ant-checkbox {
  top: 0 !important;
}

.removeShadowBox .ant-modal-content {
  box-shadow: none;
  background: #ffffff !important;
}

.ant-table-wrapper .ant-table.ant-table-middle .ant-table-tbody .ant-table-wrapper:only-child .ant-table {
  margin-block: 0 !important;
  margin-inline: 0 !important;
}

